<ion-modal-view>
  <form name="activateForm" id="activateForm">
    <ion-title>
      <h4>Aktywacja konta</h4>
    </ion-title>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" name="email" placeholder="Email" ng-model="vm.email" required ng-minlength="7"
          ng-maxlength="32">
        <span ng-show="activateForm.email.$error.minlength || activateForm.email.$error.maxlength ||
          activateForm.email.$invalid && activateForm.email.$touched" class="error">Niepoprawny adres email!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Token</span>
        <input type="text" name="token" placeholder="Token" ng-model="vm.token" required>
        <span ng-show="activateForm.token.$touched && activateForm.token.$invalid" class="error">
          Niepoprawny token aktywacyjny!
        </span>
      </label>
      <div class="modal-button">
        <button class="button button-energized" ng-disabled="activateForm.$invalid"
                ng-click="vm.activateAccount(vm.email, vm.token)">Aktywuj konto</button>
        <button class="button button-energized"
                ng-click="vm.closeActivateModal()">Anuluj</button>
      </div>
    </div>
  </form>
</ion-modal-view>