<ion-view view-title="Logowanie">
  <form name="loginForm" id="loginForm">
    <ion-title>
        <h4>Logowanie</h4>
    </ion-title>
    <div class="list">
      <img src="img/finanse.jpg" class="main-img">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nazwa użytkownika</span>
        <input type="email" name="email" placeholder="Nazwa użytkownika" ng-model="vm.email" required ng-minlength="7"
            ng-maxlength="32">
        <span ng-show="loginForm.email.$error.minlength || loginForm.email.$error.maxlength ||
          loginForm.email.$invalid && loginForm.email.$dirty" class="error">Niepoprawna nazwa użytkownika!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Hasło</span>
        <input type="password" name="password" placeholder="Hasło" ng-model="vm.password" required ng-minlength="9" 
          ng-maxlength="19">
        <span ng-show="loginForm.password.$error.minlength || loginForm.password.$error.maxlength ||
          loginForm.password.$touched && loginForm.password.$invalid" class="error">Niepoprawne hasło!
        </span>
      </label>
      <div class="modal-button">
        <button class="button button-energized" ng-disabled="loginForm.$invalid"
          ng-click="vm.login(vm.email, vm.password)">Zaloguj</button>
        <button class="button button-energized"
          ng-click="vm.openRegisterModal()">Załóż konto</button>
        <button class="button button-energized"
          ng-click="vm.openResendPassModal()">Zapomniałem hasła</button>
      </div>
    </div>
  </form>
</ion-view>