<ion-modal-view>
  <form name="registerForm" id="registerForm">
    <ion-title>
      <h4>Rejestracja</h4>
    </ion-title>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" name="email" placeholder="Email" ng-model="vm.email" required ng-minlength="7"
          ng-maxlength="32">
        <span ng-show="registerForm.email.$error.minlength || registerForm.email.$error.maxlength ||
          registerForm.email.$invalid && registerForm.email.$touched" class="error">Niepoprawny adres email!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Imię</span>
        <input type="text" name="firstName" placeholder="Imię" ng-model="vm.firstName" required ng-minlength="3"
          ng-maxlength="19">
        <span ng-show="registerForm.firstName.$error.minlength || registerForm.firstName.$error.maxlength ||
          registerForm.firstName.$invalid && registerForm.firstName.$touched" class="error">Niepoprawne imię!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nazwisko</span>
        <input type="text" name="surName" placeholder="Nazwisko" ng-model="vm.surName" required ng-minlength="3"
          ng-maxlength="19">
        <span ng-show="registerForm.surName.$error.minlength || registerForm.surName.$error.maxlength ||
          registerForm.surName.$invalid && registerForm.surName.$touched" class="error">Niepoprawne nazwisko!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Hasło</span>
        <input type="password" name="password" placeholder="Hasło" ng-model="vm.password" required>
        <span ng-show="(registerForm.password.$error.minlength || registerForm.password.$error.maxlength) &&
          registerForm.password.$touched" class="error">Niepoprawne hasło!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Stan portfela</span>
        <input type="number" name="balance" placeholder="0 zł" ng-model="vm.walletBalance" required ng-pattern="^(\d*\.)?\d+$">
        <span ng-show="registerForm.balance.$invalid && registerForm.balance.$touched" class="error">
          Niepoprawna kwota!
        </span>
      </label>
      <div class="modal-button">
        <button class="button button-energized" ng-disabled="registerForm.$invalid"
          ng-click="vm.register(vm.email, vm.firstName, vm.surName, vm.password, vm.walletBalance)">Załóż konto</button>
        <button class="button button-energized"
          ng-click="vm.closeRegisterModal()">Anuluj</button>
      </div>
    </div>
  </form>
</ion-modal-view>