<ion-modal-view>
  <form name="resetForm" id="resetForm">
    <ion-title>
      <h4>Resetowanie hasła</h4>
    </ion-title>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" name="email" placeholder="Email" ng-model="vm.email" required ng-minlength="7"
          ng-maxlength="32">
        <span ng-show="resetForm.email.$error.minlength || resetForm.email.$error.maxlength ||
          resetForm.email.$invalid && resetForm.email.$touched" class="error">Niepoprawny adres email!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Hasło</span>
        <input type="password" placeholder="Hasło" ng-model="vm.password" required>
        <span ng-show="(resetForm.password.$error.minlength || resetForm.password.$error.maxlength) &&
          resetForm.password.$touched" class="error">Niepoprawne hasło!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Token</span>
        <input type="text" placeholder="Token" ng-model="vm.token" required>
        <span ng-show="resetForm.token.$error.$touched && resetForm.token.$error.$dirty" class="error">
          Niepoprawny token!
        </span>
      </label>
      <div class="modal-button">
        <button class="button button-energized" ng-disabled="resetForm.$invalid"
          ng-click="vm.resetPassword(vm.email, vm.password, vm.token)">Resetuj hasło</button>
        <button class="button button-energized"
          ng-click="vm.closeResetPassModal()">Anuluj</button>
      </div>
    </div>
  </form>
</ion-modal-view>