<ion-modal-view>
  <form name="limitForm" id="limitForm">
    <ion-title>
      <h4>Dodaj nowy limit</h4>
    </ion-title>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Kwota</span>
        <input type="number" name="amount" placeholder="Kwota" ng-model="vm.maxAmount" required ng-pattern="^(\d*\.)?\d+$">
        <span ng-show="limitForm.amount.$invalid && limitForm.amount.$touched" class="error">
          Niepoprawna kwota!
        </span>
      </label>
      <label class="item item-select">
        <span class="select-label">Kategoria</span>
        <select name="category" ng-model="vm.category" required>
          <option ng-repeat="c in vm.categories">{{ c }}</option>
        </select>
        <span ng-show="limitForm.category.$invalid && limitForm.category.$touched" class="error">
          Wybierz kategorię!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Data od</span>
        <input type="text" name="dateFrom" placeholder="Data od" ng-model="vm.dateFrom" required ng-pattern="\d{4}-\d{2}-\d{2}">
        <span ng-show="limitForm.dateFrom.$invalid && limitForm.dateFrom.$touched" class="error">
          Niepoprawny format daty!
        </span>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Data do</span>
        <input type="text" name="dateTo" placeholder="Data do" ng-model="vm.dateTo" required ng-pattern="/\d{4}-\d{2}-\d{2}$/">
        <span ng-show="limitForm.dateTo.$invalid && limitForm.dateTo.$touched" class="error">
          Niepoprawny format daty!
        </span>
      </label>
      <div class="modal-button">
        <button class="button button-energized" ng-disabled="limitForm.$invalid"
                ng-click="vm.addLimit(vm.maxAmount, vm.category, vm.dateFrom, vm.dateTo)">Dodaj</button>
        <button class="button button-energized"
                ng-click="vm.closeModal()">Anuluj</button>
      </div>
    </div>
  </form>
</ion-modal-view>