<ion-modal-view>
 		<form name="incomeForm" id="incomeForm">
		  	<ion-title>
  				<h4>Dodaj nowy wpływ</h4>
  			</ion-title>
 			<div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Tytuł</span>
          <input type="text" name="title" placeholder="Tytuł" ng-model="vm.title" required>
          <p ng-show="incomeForm.title.$invalid && incomeForm.title.$touched" class="error">
            Tytuł nie może być pusty!
          </p>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Kwota</span>
          <input type="text" name="amount" placeholder="Kwota" ng-model="vm.amount" required>
          <p ng-show="incomeForm.amount.$invalid && incomeForm.amount.$touched" class="error">
            Podaj kwotę większą niż 0!
          </p>
        </label>
        <div class="modal-button">
          <button class="button button-energized" ng-disabled="incomeForm.$invalid"
                  ng-click="vm.addIncome(vm.title, vm.amount)">Dodaj</button>
          <button class="button button-energized"
                  ng-click="vm.closeModal()">Anuluj</button>
        </div>
 			</div>
 		</form>
</ion-modal-view>
