<ion-view view-title="Przegląd">
  <ion-content>
  <div class="header-border">
	  	<ion-title>
	  		<h4>Podsumowanie miesiąca</h4>
	  	</ion-title>
  </div>
 	<ion-item>
  		<canvas id="bar" class="chart chart-bar"
	  		chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-colors="vm.colors"
		/>
  	</ion-item>

  	<ion-list>
  		<div class="header-border">
	  		<ion-list-header>
	  			<h4>Stan Twoich kont</h4>
	  		</ion-list-header>
  		</div>
  		<ion-item-group>
			<ion-item>
				<i class="icon fill-icon ion-cash"></i>
				<ion-note>portfel</ion-note>
				<ion-note class="ion-float-r">{{ vm.user.walletAccount | currency : '' : 2 }} zł</ion-note>
			</ion-item>
			<ion-item ng-repeat='ba in vm.bankAccounts'>
				<i class="icon fill-icon ion-card"></i>
				<ion-note>konto</ion-note>
				<ion-note class="ion-float-r">{{ ba.balance | currency : '' : 2 }} zł</ion-note>
			</ion-item>
			<ion-item>
				<ion-note> {{ vm.sum }}</ion-note>
			</ion-item>
  		</ion-item-group>
    </ion-list>
    
      <ion-list>
      <div class="header-border">
  		<ion-list-header>
  			<h4>Ostatnie operacje</h4>
  		</ion-list-header>
	  </div>
  		<ion-item-group>
			<ion-item class="operations" ng-repeat='op in vm.operations | orderBy: "op.date" :true | limitTo: 5' ng-class='{"income": op.operationType == "INCOME" , "expense": op.operationType == "EXPENSE"}'>
				<i class="icon fill-icon" ng-class='{"ion-ios-cart": op.operationCategory == "SHOPPING" , "ion-university": op.operationCategory == "EDUCATION", "ion-pizza": op.operationCategory == "FOOD", 
						"ion-ios-medkit": op.operationCategory == "HEALTH", "ion-home": op.operationCategory == "HOME", "ion-android-car": op.operationCategory == "CAR",
						"ion-shuffle": op.operationCategory == "TRANSFER", "ion-plane": op.operationCategory == "TRAVEL", "ion-help": op.operationCategory == "REST"}'></i>
				<ion-note>{{ op.operationCategory | lowercase }}</ion-note>
				<ion-note>{{ op.date | date:'yyyy-MM-dd'}}</ion-note>
				<ion-note>{{ op.ammount | currency : '' : 2}} zł</ion-note>
			</ion-item>
  		</ion-item-group>
    </ion-list>
    
  </ion-content>
</ion-view>
