<ion-view view-title="Przegląd">
  <ion-content>
  <div class="header-border">
		<ion-title>
			<h4>Podsumowanie</h4>
		</ion-title>
  </div>
 	<ion-item>
		<canvas id="bar" class="chart chart-bar"
			chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-colors="vm.colors"
		/>
  	</ion-item>

  	<ion-list>
  		<div class="header-border">
	  		<ion-list-header>
	  			<h4>Twoje aktualne finanse</h4>
	  		</ion-list-header>
  		</div>
  		<ion-item-group>
			<ion-item>
				<i class="icon fill-icon ion-cash"></i>
				<ion-note>Portfel</ion-note>
				<ion-note class="ion-float-r">{{ vm.user.walletBalance | currency : '' : 2 }} zł</ion-note>
			</ion-item>
			<ion-item ng-repeat='ba in vm.bankAccounts'>
				<i class="icon fill-icon ion-card"></i>
				<ion-note>konto</ion-note>
				<ion-note class="ion-float-r">{{ ba.balance | currency : '' : 2 }} zł</ion-note>
			</ion-item>
			<ion-item>
				<ion-note> Suma: {{ vm.sum | currency : '' : 2}} zł</ion-note>
			</ion-item>
  		</ion-item-group>
    </ion-list>
    
      <ion-list>
      <div class="header-border">
  		<ion-list-header>
  			<h4>Ostatnie operacje</h4>
  		</ion-list-header>
	  </div>
  		<ion-item-group>
        <ion-item class="operations" ng-repeat='op in vm.operations | limitTo: 5' ng-class='{"income": op.type == "INCOME" , "expense": op.type == "EXPENSE"}'>
          <i class="icon fill-icon" ng-class='{"ion-ios-cart": op.category == "SHOPPING" , "ion-university": op.category == "EDUCATION", "ion-pizza": op.category == "FOOD",
              "ion-ios-medkit": op.category == "HEALTH", "ion-home": op.category == "HOME", "ion-android-car": op.category == "CAR",
              "ion-shuffle": op.category == "TRANSFER", "ion-plane": op.category == "TRAVEL", "ion-help": op.category == "REST"
              , "ion-cash": op.category == "CASH"}'></i>
          <ion-note>{{ op.title }}</ion-note>
          <ion-note>{{ op.createdOn | date : 'dd.MM.y HH:mm' : '+0200' }}</ion-note>
          <ion-note>{{ op.amount | currency : '' : 2 }} zł</ion-note>
        </ion-item>
  		</ion-item-group>
	</ion-list>
	<div class="header-border">
		<ion-title>
			<h4>Odswież <i class="icon fill-icon ion-refresh" ng-click="vm.refresh()"></i></h4>
		</ion-title>
	</div>
  </ion-content>
</ion-view>